#carDetails {
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}
.details-img {
  width: 100%;
  height: 400px;
  background-image: url('https://placehold.co/600x400?text=Car+Image');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: var(--shape-large);
}
.details-price {
  font-size: 30px;
}
#engine {
  min-height: 600px;
  background-color: var(--background-color);
  padding-top: 50px;
  padding-bottom: 50px;
}
.engine-img {
  width: 100%;
  height: 400px;
  background-image: url('https://placehold.co/600x400?text=Car+Engine');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: var(--shape-large);
}
#moreDetails {
  padding-bottom: 50px;
  height: auto;
}
.more-details-img {
  width: 100%;
  height: 400px;
  background-image: url('https://placehold.co/600x400?text=Car+Interior');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: var(--shape-large);
}